.chart, .map {
    width: 100%;
    position: relative;
}

.chart--main {
    height: 380px;
}

.map--main {
    height: 450px;

    & > div {
        height: ~"calc(100% + 25px)" !important;
    }

    div {
        font-family: @font-family !important;
    }

    .gm-bundled-control {
        bottom: 80px !important;
    }
}

.map-title {
    position: absolute;
    padding: 15px 25px;
    left: 20px;
    bottom: 20px;
    z-index: 1;
    background-color: rgba(255,255,255,0.7);

    & > h2 {
        margin: 0;
        line-height: 100%;
        font-size: 1.3em;
        font-weight: 400;
    }
}

.map-btn {
    position: absolute;
    z-index: 10;
    right: 10px;
    background: @white;
    width: 28px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
    bottom: 73px;

    & > i {
        height: 28px;
        display: block;
        color: #666;
        line-height: 28px;
        cursor: pointer;
        text-align: center;
        position: relative;

        &:last-child {
            overflow: hidden;
        }

        &[data-map-action="reset"] {
            display: none;
        }

        &:not(:last-child) {
            &:after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 5px;
                width: 19px;
                height: 1px;
                background-color: #e2e2e2;

            }
        }
    }
}